.container {
    width: 100vw;
    height: 100vh;
}

.main-page {
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: transparent url('../img/search-background.jpeg') 0 0 no-repeat padding-box;
    background-size: cover;
    opacity: 0.85;
}

.fa-percent {
    font-size: 0.8rem;
}

.add-form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid black;
    border-radius: 3rem;
    opacity: 0.85;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 85%;
}

.add-form div {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-form div input {
    border: 1px solid #707070;
    border-radius: 8px;
    height: 50%;
    width: 40%;
    font-size: 1.2em;
}

.add-form button[type=submit] {
    height: 10%;
    width: 50%;
    background: #EEE64B 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 16px;
    opacity: 1;
    font-size: 1.6em;
    outline: none;
    margin: 1rem;
}

.add-form button[type=submit]:hover {
    background-color: #E3BE29;
}